<!doctype html>
<html class="no-js" lang="en">

<head>
  <!-- title -->
  <title>English Camp 2019 - Ngày hội sinh viên với ngoại ngữ</title>
  <meta property="og:title" content="English Camp 2019 - Ngày hội sinh viên với ngoại ngữ" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="1057102251148374"/>
  <meta property="og:image:width" content="947" />
  <meta property="og:image:height" content="461" />
  <meta property="og:image" content="<% if (user) { %><%- user.cover %><% } else { %><%- domain %>/homepage/images/logo.png<% } %>"/>
  <meta property="og:url" content="<% if (user) { %><%- domain %>/<%- user._id %><% } else { %><%- domain %><% } %>"/>
  <meta property="og:description" content="English Camp 2019 - Ngày hội sinh viên với ngoại ngữ" />
  <!-- description -->
  <meta name="description" content="English Camp 2019 - Ngày hội sinh viên với ngoại ngữ">
  <!-- keywords -->
  <meta name="keywords" content="bonjour uit, uit, bonjour, tsv, sinh vien, ngay hoi, doan, hoi, doan hoi, cong nghẹ thong tin, 2018">
  <meta charset="utf-8">
  <meta name="author" content="WebDev Studios">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
  <% include ./partials/css %>
  <style>
    .max-content {
      text-align: -webkit-center;
    }
  </style>
</head>

<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2&appId=1057102251148374&autoLogAppEvents=1"></script>    
  <nav class="navbar no-margin-bottom alt-font without-button">
    <div class="container navigation-menu">
      <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-md-2 navbar-header">
          <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle collapsed"
            type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#home" class="navbar-brand inner-link"><img alt="" src="/homepage/images/logo-transaction.png"></a>
        </div>
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse col-md-10">
          <ul class="nav navbar-nav">
            <li><a class="inner-link" href="#about">REGISTRATION</a></li>
            <li><a class="inner-link" href="#speakers">INFO</a></li>
            <li><a class="inner-link" href="#schedule">TIMELINE</a></li>
            <li><a class="inner-link" href="#gallery">GALLERY</a></li>
            <li><a class="inner-link" href="#sponsors">SPONSORS</a></li>
            <li><a class="inner-link" href="#contact">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- slider -->
  <section id="_=_" class="no-padding parallax2 parallax-fix">
    <img class="parallax-background-img" src="/homepage/images/background.png" alt="" />
    <div class="opacity-full bg-deep-englishcamp"></div>
    <div class="container full-screen position-relative">

      <div class="slider-typography text-center">
        <div class="slider-text-middle-main">

          <div class="slider-text-middle slider-typography-option6">
            <div class="logo-image-bonjour text-center custom-image">
              <img alt="" src="/homepage/images/logo.png">
                <a href="/admin/users/login/facebook" class="highlight-button-white-border btn btn-medium button letter-spacing-1 inner-link margin-two no-margin-bottom no-margin-lr xs-margin-eleven xs-no-margin-top xs-no-margin-bottom xs-no-margin-lr text-center">Checking!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% if (user) { %>
    <section id="facebook-shares" class="wow fadeIn bg-main-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 text-center">
            <span class="title-medium alt-font font-weight-700 text-uppercase bonjour-text-red display-block sm-title-large"><span
                class="bonjour-text-red">—</span> REGISTRATION</span>
          </div>
        </div>
        <div class="row">
          <div class="margin-fifteen no-margin-lr no-margin-bottom xs-text-center clearfix">
            <div class="col-md-12 col-sm-12 text-center">
              <img src="<%- user.cover %>" alt="user-avatar">

              <a class="highlight-button-black-border btn btn-medium button margin-ten no-margin-lr inner-link" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%- domain %>/<%- user._id %>">
                Share facebook
              </a>
              <a class="highlight-button-black-border btn btn-medium button margin-ten no-margin-lr inner-link" href="#schedule">
                Name: <%- user.name %>
              </a>
              <button type="button" class="highlight-button-black-border btn btn-medium button margin-ten no-margin-lr inner-link" data-toggle="modal" data-target="#questions">
                Test English
              </button>
            </div>
            
          </div>
        </div>
      </div>
    </section>
  <% } %>

  <section id="about" class="wow fadeIn bg-main-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <span class="title-medium alt-font font-weight-700 text-uppercase bonjour-text-red display-block sm-title-large"><span
              class="bonjour-text-red">—</span> Info</span>
        </div>
      </div>
      <div class="row">
        <div class="margin-fifteen no-margin-lr no-margin-bottom xs-text-center clearfix">
          <div class="col-md-5 col-sm-12 text-center">
            <img src="/homepage/images/duoithongtinsukien.png" alt="logo-event-bonjour-uit">
            <a class="highlight-button-black-border btn btn-medium button margin-ten no-margin-lr inner-link" href="#schedule">
              Info
            </a>
          </div>
          <div class="col-md-6 col-sm-12 col-md-offset-1 sm-padding-five sm-no-padding-lr sm-no-padding-bottom xs-margin-eleven xs-no-margin-lr xs-no-margin-bottom">
            <div class="col-md-12 no-padding">
              <div class="col-md-12 col-sm-12 xs-margin-nineteen xs-no-margin-lr xs-no-margin-top padding-fifteen align-baseline" style="    padding-top: 0px !important;">
                <span class="title-medium alt-font font-weight-700 text-uppercase bonjour-text-red display-block sm-title-large text-center">
                  REGISTERED <a href="#" class="hbtn hbtn-primary hbtn-lg" tabindex="0"><%- facebookCount %></a>
                </span>
              </div>
            </div>
            <div class="col-md-12">
              <% university.map(item => { %>
                <div class="row">
                  <div class="col-xs-3 col-md-2">
                    <img class="media-object" src="<%- item.image %>" alt="...">
                  </div>
                  <div class="col">
                    <div class="media-body">
                      <h4 class="media-heading"><%- item.name %></h4>
                      Count: <%- item.facebookId_count %>
                    </div>
                  </div>
                </div>

                <br />
              <% }) %>
              <button type="button" class="text-center highlight-button-black-border btn btn-medium button margin-ten no-margin-lr inner-link" data-toggle="modal" data-target="#universityMore">
                More
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="wow fadeIn fix-background" style="background-image:url('/homepage/images/event-img2.jpg');">
    <div class="opacity-full bg-deep-bonjour-blue"></div>
    <div class="container position-relative">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">

          <span class="title-extra-large alt-font bonjour-text-blue text-uppercase xs-title-small">
            Count down
          </span><br>
          <span class="title-medium alt-font bonjour-text-blue text-uppercase xs-title-small">
            Temps restant
            </span>
          <span class="title-extra-large-4 alt-font bonjour-text-blue text-uppercase font-weight-600 margin-one no-margin-bottom no-margin-lr display-block xs-title-extra-large">
            <!-- timer -->
            <div id="counter-event" enddate="2019/04/20 08:00:00" class="bonjour-text-blue text-center alt-font center-col margin-eight no-margin-lr no-margin-bottom"></div>
            <!-- end timer -->
          </span>
          <br><br>
          <a class="highlight-button-blue btn btn-medium button letter-spacing-1 inner-link" data-toggle="modal" data-target="#register4Modal">
            Are you ready?</a>
        </div>
      </div>
    </div>
  </section>
  <section id="speakers" class="wow fadeIn border-bottom no-padding-bottom bg-main-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <span class="title-medium alt-font font-weight-700 text-uppercase bonjour-text-red display-block sm-title-large"><span
              class="bonjour-text-red">—</span> Main Activities</span>
        </div>
      </div>
      <div class="row">
        <div class="margin-ten no-margin-lr clearfix">
          <div class="col-md-12 col-sm-12 text-center">
            
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid padding-fifteen no-padding-tb md-padding-five md-no-padding-tb xs-padding-thirteen xs-no-padding-tb">
      <div class="row">
        <!-- <div class="col-md-4 col-sm-4 col-xs-12 text-center architecture-bio overflow-hidden xs-no-padding">
          <div class="architecture-img">
            <img src="/homepage/images/bonjour-1.jpg" alt="" />
          </div>
          <div class="architecture-details bg-bonjour-blue text-left padding-fifteen sm-padding-eleven center-col md-width-90 xs-width-90">
            <span class="text-large font-weight-600 letter-spacing-1 alt-font white-text text-uppercase display-block">FÊTE MUSICALE DE L'UIT</span>
            <span class="text-small letter-spacing-2 text-uppercase alt-font white-text">Đại nhạc hội dành riêng cho các tính đồ âm nhạc tại UIT</span>
            <p class="white-text margin-fifteen no-margin-lr width-90 md-margin-three md-no-margin-lr">
              Mang chảo, mang bàn phím cùng nhau quẩy một trận ra trò nào 500 anh em ơi!
            </p>
          </div>
        </div> -->

        
        <div class="col-md-12 col-sm-12 col-xs-12 text-center architecture-bio overflow-hidden xs-no-padding">
          <div class="architecture-img">
            <img src="/homepage/images/exhibition.png" alt="Ca sĩ khách mời" style="width: 100%; padding-top: 30px" />
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 margin-seven no-margin-lr no-margin-bottom ">
          <i class="icon-wine icon-medium margin-nine no-margin-lr no-margin-top xs-margin-five xs-no-margin-lr xs-no-margin-top"></i>
          <span class="font-weight-700 letter-spacing-1 text-uppercase black-text margin-five no-margin-lr no-margin-top display-block alt-font xs-margin-five xs-no-margin-lr xs-no-margin-top">
            Free English Proficiency Testing
          </span>
          <p class="text-medium width-90 xs-width-100">
            The participants can find more enthusiasm for learning English by having a free English proficiency testing in Basic Level Area. Moreover, participants will receive certification from organizers
          </p>
        </div>
        <div class="col-md-4 col-sm-4 margin-seven no-margin-lr no-margin-bottom ">
          <i class="icon-wine icon-medium margin-nine no-margin-lr no-margin-top xs-margin-five xs-no-margin-lr xs-no-margin-top"></i>
          <span class="font-weight-700 letter-spacing-1 text-uppercase black-text margin-five no-margin-lr no-margin-top display-block alt-font xs-margin-five xs-no-margin-lr xs-no-margin-top">
            Cultural Experiencing
          </span>
          <p class="text-medium width-90 xs-width-100">
            By joining  from 2 to 3 booths, participants will take photos and expose to different cultures
          </p>
        </div>
        <div class="col-md-4 col-sm-4 margin-seven no-margin-lr no-margin-bottom ">
          <i class="icon-wine icon-medium margin-nine no-margin-lr no-margin-top xs-margin-five xs-no-margin-lr xs-no-margin-top"></i>
          <span class="font-weight-700 letter-spacing-1 text-uppercase black-text margin-five no-margin-lr no-margin-top display-block alt-font xs-margin-five xs-no-margin-lr xs-no-margin-top">
            Hurdle Race
          </span>
          <p class="text-medium width-90 xs-width-100">
            In this interesting area, participants will take part in some basic kinesthetic English games and hurdle race in groups. By working in team, participants will gain more confidence and improve collaborative skills
          </p>
        </div>
        <div class="col-md-4 col-sm-4 margin-seven no-margin-lr no-margin-bottom ">
          <i class="icon-wine icon-medium margin-nine no-margin-lr no-margin-top xs-margin-five xs-no-margin-lr xs-no-margin-top"></i>
          <span class="font-weight-700 letter-spacing-1 text-uppercase black-text margin-five no-margin-lr no-margin-top display-block alt-font xs-margin-five xs-no-margin-lr xs-no-margin-top">
            Viet Nam history and geography information and online game booths
          </span>
          <p class="text-medium width-90 xs-width-100">
            This area is designed to feature Viet Nam specific historical events and geographic characteristics. Moreover, participants will have chance to play online games regarding these topics on smartphones
          </p>
        </div>
        <div class="col-md-4 col-sm-4 margin-seven no-margin-lr no-margin-bottom ">
          <i class="icon-wine icon-medium margin-nine no-margin-lr no-margin-top xs-margin-five xs-no-margin-lr xs-no-margin-top"></i>
          <span class="font-weight-700 letter-spacing-1 text-uppercase black-text margin-five no-margin-lr no-margin-top display-block alt-font xs-margin-five xs-no-margin-lr xs-no-margin-top">
            Vocabulary Contest
          </span>
          <p class="text-medium width-90 xs-width-100">
            In a given time, participants are required to use separate letters to form a word, and then use these words to form a meaningful sentence
          </p>
        </div>
        <div class="col-md-4 col-sm-4 margin-seven no-margin-lr no-margin-bottom ">
          <i class="icon-wine icon-medium margin-nine no-margin-lr no-margin-top xs-margin-five xs-no-margin-lr xs-no-margin-top"></i>
          <span class="font-weight-700 letter-spacing-1 text-uppercase black-text margin-five no-margin-lr no-margin-top display-block alt-font xs-margin-five xs-no-margin-lr xs-no-margin-top">
            English Karaoke Contest
          </span>
          <p class="text-medium width-90 xs-width-100">
            Each participant sings an English song of choice in front of the judging panel and other students. This is an opportunity for students to show their passion for music and performing as well as practice their English pronunciation
          </p>
        </div>
        <div class="col-md-4 col-sm-4 margin-seven no-margin-lr no-margin-bottom ">
          <i class="icon-wine icon-medium margin-nine no-margin-lr no-margin-top xs-margin-five xs-no-margin-lr xs-no-margin-top"></i>
          <span class="font-weight-700 letter-spacing-1 text-uppercase black-text margin-five no-margin-lr no-margin-top display-block alt-font xs-margin-five xs-no-margin-lr xs-no-margin-top">
            English Club Festival
          </span>
          <p class="text-medium width-90 xs-width-100">
            This area has booths for English clubs throughout the city to introduce themselves and organize games and challenges for students
          </p>
        </div>
        <div class="col-md-4 col-sm-4 margin-seven no-margin-lr no-margin-bottom ">
          <i class="icon-wine icon-medium margin-nine no-margin-lr no-margin-top xs-margin-five xs-no-margin-lr xs-no-margin-top"></i>
          <span class="font-weight-700 letter-spacing-1 text-uppercase black-text margin-five no-margin-lr no-margin-top display-block alt-font xs-margin-five xs-no-margin-lr xs-no-margin-top">
            Talk show with celebrities that have good command of English
          </span>
          <p class="text-medium width-90 xs-width-100">
            Participants will have chance to communicate with famous people in some trending fields and listen to their sharing on the advantages and disadvantages in learning English
          </p>
        </div>
        <div class="col-md-4 col-sm-4 margin-seven no-margin-lr no-margin-bottom ">
          <i class="icon-wine icon-medium margin-nine no-margin-lr no-margin-top xs-margin-five xs-no-margin-lr xs-no-margin-top"></i>
          <span class="font-weight-700 letter-spacing-1 text-uppercase black-text margin-five no-margin-lr no-margin-top display-block alt-font xs-margin-five xs-no-margin-lr xs-no-margin-top">
            Final Round of English Debate Contest
          </span>
          <p class="text-medium width-90 xs-width-100">
            Model ASEAN Conference: Contestants advancing to the final round will recreate an ASEAN conference where national  leaders discuss, negotiate and propose crucial policies regarding each nation’s situation and the development of ASEAN as a whole
          </p>
        </div>
        <div class="col-md-4 col-sm-4 margin-seven no-margin-lr no-margin-bottom ">
          <i class="icon-wine icon-medium margin-nine no-margin-lr no-margin-top xs-margin-five xs-no-margin-lr xs-no-margin-top"></i>
          <span class="font-weight-700 letter-spacing-1 text-uppercase black-text margin-five no-margin-lr no-margin-top display-block alt-font xs-margin-five xs-no-margin-lr xs-no-margin-top">
            English Musical Program with Traditional Instruments
          </span>
          <p class="text-medium width-90 xs-width-100">
            This program aims to provide students with knowledge on Vietnamese traditional forms of art and musical instruments in an innovative and interactive way
          </p>
        </div>
        <div class="col-md-4 col-sm-4 margin-seven no-margin-lr no-margin-bottom ">
          <i class="icon-wine icon-medium margin-nine no-margin-lr no-margin-top xs-margin-five xs-no-margin-lr xs-no-margin-top"></i>
          <span class="font-weight-700 letter-spacing-1 text-uppercase black-text margin-five no-margin-lr no-margin-top display-block alt-font xs-margin-five xs-no-margin-lr xs-no-margin-top">
            English Corner for Language Exchange and Book Exhibition
          </span>
          <p class="text-medium width-90 xs-width-100">
            This area is for students to have conversations with foreigners and the book exhibition includes English books in many fields of knowledge that are essential for students
          </p>
        </div>
      </div>
    </div>
  </section>

  

  <section id="schedule" class="wow fadeIn bg-main-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <span class="title-medium alt-font font-weight-700 text-uppercase bonjour-text-red display-block sm-title-large"><span
              class="bonjour-text-red">—</span> Timeline </span>
        </div>
      </div>
      <div class="row">
        <div class="margin-ten no-margin-bottom no-margin-lr clearfix">
          <div class="col-md-12 col-sm-12 text-center tab-style-4">
            <div class="tab-content clearfix no-margin-lr no-margin-bottom sm-margin-nine sm-no-margin-lr sm-no-margin-bottom">
              <div role="tabpanel" class="tab-pane fade in active" id="openingday">
                <div class="col-md-12 col-sm-12 no-padding">
                  <span class="text-extra-large text-uppercase alt-font display-block font-weight-700">April 20, 2019</span>
                  <span class="text-large text-uppercase alt-font deep-gray-text text-extra-large m-auto">8:00 - 20:00</span>
                  <div class="margin-ten no-margin-lr table">
                    <table width="100%" border="0">
                      <tr>
                        <td class="alt-font text-uppercase xs-display-block">
                          <span class="title-extra-large-2 bonjour-text-blue font-weight-600">01</span></td>
                        <td class="alt-font text-uppercase xs-display-block ">
                          <span class="display-block text-extra-large font-weight-600 max-content m-auto">8:00 - 8:30</span>
                        </td>
                        <td class="alt-font xs-display-block">
                          <span class="font-weight-600 display-block text-uppercase text-extra-large bonjour-text-blue">Opening Ceremony</span>
                          <span class="deep-gray-text text-medium">Main Stage</span>
                          <!-- <span class="text-medium">Văn nghệ chào mừng</span> -->
                        </td>
                      </tr>
                      <tr>
                        <td class="alt-font text-uppercase xs-display-block"><span class="title-extra-large-2 bonjour-text-blue font-weight-600">02</span></td>
                        <td class="alt-font text-uppercase xs-display-block">
                          <span class="display-block text-extra-large font-weight-600 max-content m-auto" >8:00 - 11:00</span>
                        <td class="alt-font xs-display-block">
                          <span class="font-weight-600 display-block text-uppercase text-extra-large bonjour-text-blue">
                            Exhibition-Information Area: <br/>
                            -Viet Nam’s Achievements in Foreign Affairs<br/>
                            -‘President Ho Chi Minh’s Journey for National Salvation” Exhibition<br/>
                            -‘Current State of the Environment and Youth’s Role’ Exhibition<br/>
                            -Studying Abroad Information Booth<br/>
                            -English Learning Center Information Booth
                          </span>
                          <span class="deep-gray-text text-medium">
                            Ground Floor<br/>
                            (Faculty of Medicine - Dentistry)
                          </span>
                        </td>
                          <!-- <span class="text-medium">Trao thưởng cho cán bộ Đoàn THPT </span> -->
                        </td>
                      </tr>
                      <tr>
                        <td class="alt-font text-uppercase xs-display-block"><span class="title-extra-large-2 bonjour-text-blue font-weight-600">03</span></td>
                        <td class="alt-font text-uppercase xs-display-block">
                          <span class="display-block text-extra-large font-weight-600 max-content m-auto">8:30 - 10:00</span>
                        </td>
                        <td class="alt-font xs-display-block">
                          <span class="font-weight-600 display-block text-uppercase text-extra-large bonjour-text-blue">Free English Level Test </span>
                          <span class="deep-gray-text text-medium">
                            Computer Room<br/>
                            (Faculty of Medicine - Dentistry)
                          </span>
                          <!-- <span class="text-medium">Lễ hội ẩm thực Pháp</span> -->
                        </td>
                      </tr>
                      <tr>
                        <td class="alt-font text-uppercase xs-display-block"><span class="title-extra-large-2 bonjour-text-blue font-weight-600">04</span></td>
                        <td class="alt-font text-uppercase xs-display-block">
                          <span class="display-block text-extra-large font-weight-600 max-content m-auto">8:30 - 9:00</span>
                        </td>
                        <td class="alt-font xs-display-block">
                          <span class="font-weight-600 display-block text-uppercase text-extra-large bonjour-text-blue">
                            Musical Performances (in English) with traditional instruments
                          </span>
                          <span class="deep-gray-text text-medium">
                              Main Stage
                          </span>
                          <!-- <span class="text-medium">Buffet kiểu Pháp</span></td> -->
                      </tr>
                      <tr>
                        <td class="alt-font text-uppercase xs-display-block"><span class="title-extra-large-2 bonjour-text-blue font-weight-600">05</span></td>
                        <td class="alt-font text-uppercase xs-display-block">
                          <span class="display-block text-extra-large font-weight-600 max-content m-auto">9:00 - 10:00</span>
                        </td>
                        <td class="alt-font xs-display-block">
                          <span class="font-weight-600 display-block text-uppercase text-extra-large bonjour-text-blue">International Dance Contest</span>
                          <span class="deep-gray-text text-medium">Main Stage</span>
                          <!-- <span class="text-medium">UIT Race - Đường chạy thử thách</span></td> -->
                      </tr>
                      <tr>
                        <td class="alt-font text-uppercase xs-display-block"><span class="title-extra-large-2 bonjour-text-blue font-weight-600">06</span></td>
                        <td class="alt-font text-uppercase xs-display-block">
                          <span class="display-block text-extra-large font-weight-600 max-content m-auto">10:00 - 10:30</span>
                        </td>
                        <td class="alt-font xs-display-block">
                          <span class="font-weight-600 display-block text-uppercase text-extra-large bonjour-text-blue">Talkshow with celebrity guests (advance English level)</span>
                          <span class="deep-gray-text text-medium">Main Stage</span>
                          <!-- <span class="text-medium">DJ</span></td> -->
                      </tr>
                      <tr>
                        <td class="alt-font text-uppercase xs-display-block"><span class="title-extra-large-2 bonjour-text-blue font-weight-600">07</span></td>
                        <td class="alt-font text-uppercase xs-display-block">
                          <span class="display-block text-extra-large font-weight-600 max-content m-auto">8:30 - 10:30</span>
                        </td>
                        <td class="alt-font xs-display-block">
                          <span class="font-weight-600 display-block text-uppercase text-extra-large bonjour-text-blue">
                              Cultural Experiencing Program:<br/>
                              -Game Booths<br/>
                              -Booths for information and online games about Vietnam history and geography<br/>
                              -Vocabulary Contest<br/>
                              -‘English Karaoke and Performance’ Contest<br/>
                              -HCMC English Clubs’ Festival
                              
                            </span>
                            <span class="deep-gray-text text-medium">School Campus</span>
                            <!-- <span class="text-medium">DJ</span></td> -->
                      </tr>
                      <tr>
                        <td class="alt-font text-uppercase xs-display-block"><span class="title-extra-large-2 bonjour-text-blue font-weight-600">08</span></td>
                        <td class="alt-font text-uppercase xs-display-block">
                          <span class="display-block text-extra-large font-weight-600 max-content m-auto">8:30 - 10:30</span>
                        </td>
                        <td class="alt-font xs-display-block">
                          <span class="font-weight-600 display-block text-uppercase text-extra-large bonjour-text-blue">English Conservation Area and “English Corner” book exibition</span>
                          <span class="deep-gray-text text-medium">Ground Hall (Block C)</span>
                          <!-- <span class="text-medium">DJ</span></td> -->
                      </tr>
                      <tr>
                        <td class="alt-font text-uppercase xs-display-block"><span class="title-extra-large-2 bonjour-text-blue font-weight-600">09</span></td>
                        <td class="alt-font text-uppercase xs-display-block">
                          <span class="display-block text-extra-large font-weight-600 max-content m-auto">8:30 - 11:00</span>
                        </td>
                        <td class="alt-font xs-display-block">
                          <span class="font-weight-600 display-block text-uppercase text-extra-large bonjour-text-blue">Final Round of English Debate Contest: Model ASEAN Youth Leaders’ Summit</span>
                          <span class="deep-gray-text text-medium">
                            Smart Room (Faculty of Medicine - Dentistry)
                          </span>
                          <!-- <span class="text-medium">DJ</span></td> -->
                      </tr>
                      <tr>
                        <td class="alt-font text-uppercase xs-display-block"><span class="title-extra-large-2 bonjour-text-blue font-weight-600">10</span></td>
                        <td class="alt-font text-uppercase xs-display-block">
                          <span class="display-block text-extra-large font-weight-600 max-content m-auto">10:30 - 11:00</span>
                        </td>
                        <td class="alt-font xs-display-block">
                          <span class="font-weight-600 display-block text-uppercase text-extra-large bonjour-text-blue">Ending Ceremony Game: Star Golden Bell </span>
                          <span class="deep-gray-text text-medium">Main Stage</span>
                          <!-- <span class="text-medium">DJ</span></td> -->
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <a href="/admin/users/login/facebook" class="highlight-button-blue-dark btn btn-medium button letter-spacing-1 inner-link">CHECKING</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sponsors" class="fix-background-webkit fix-background" style="background-image:url('/homepage/images/event-img3.jpg');">
    <div class="opacity-full bg-deep-bonjour-blue"></div>
    <div class="container position-relative">
      <div class="row">
        <div class="col-md-6 col-sm-6 text-center">
          <span class="title-medium alt-font font-weight-700 text-uppercase bonjour-text-blue display-block sm-title-large"><span
              class="bonjour-text-blue">—</span> ORGANIZATIONS</span>
          <div class="row text-center">
            <div class="col-md-6 col-xs-12 text-center justify-content-center">
              <a href="#">
                <img class="sm-margin-thirteen sm-no-margin-lr" src="/homepage/images/logo/hsv.png" alt="HO CHI MINH CITY" style="max-width: 70%" />
              </a>
            </div>
            <div class="col-md-6 col-xs-12">
              <a href="#">
                <img class="sm-margin-thirteen sm-no-margin-lr" src="/homepage/images/logo/sac.png" alt="SAC" style="max-width: 70%" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 text-center">
          <span class="title-medium alt-font font-weight-700 text-uppercase bonjour-text-blue display-block sm-title-large"><span
              class="bonjour-text-blue">—</span> PARTNERSHIPS</span>
          <div class="row" style="margin-left: 25%;">
            <div class="col-md-6 col-xs-12">
              <a href="#">
                <img class="sm-margin-thirteen sm-no-margin-lr" src="/homepage/images/logo/fahasa.png" alt="FAHASA" style="max-width: 70%" />
              </a>
            </div>
            <div class="col-md-6 col-xs-12">
              <a href="#">
                <img class="sm-margin-thirteen sm-no-margin-lr" src="/homepage/images/logo/weset.png" alt="Weset" style="max-width: 70%" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  

  <section id="gallery" class="work-4col gutter wow fadeIn bg-main-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <span class="title-medium alt-font font-weight-700 text-uppercase bonjour-text-blue display-block sm-title-large"><span
              class="bonjour-text-blue">—</span> GALLERY</span>
        </div>
      </div>
      <div class="row">
        <div class="margin-seventeen no-margin-lr xs-text-center clearfix">
          <div class="col-md-12 grid-gallery overflow-hidden">
            <div class="tab-content">
              <ul class="masonry-items grid lightbox-gallery">
                <li>
                  <figure class="overflow-hidden">
                    <a href="/homepage/images/event-img8.jpg" title="Quẩy lên thôi"><img src="/homepage/images/event-img8.jpg"
                        alt=""></a>
                  </figure>
                </li>
                <li>
                  <figure class="overflow-hidden">
                    <a href="/homepage/images/event-img9.jpg" title="Put your hands up!"><img src="/homepage/images/event-img9.jpg"
                        alt="put your hands up"></a>
                  </figure>
                </li>
                <li>
                  <figure class="overflow-hidden">
                    <a href="/homepage/images/event-img10.jpg" title="DJ Mie"><img src="/homepage/images/event-img10.jpg"
                        alt="dj mie"></a>
                  </figure>
                </li>
                <li>
                  <figure class="overflow-hidden">
                    <a href="/homepage/images/event-img11.jpg" title="Bí ẩn không"><img src="/homepage/images/event-img11.jpg"
                        alt="bí ẩn không"></a>
                  </figure>
                </li>
                <li>
                  <figure class="overflow-hidden">
                    <a href="/homepage/images/event-img19.jpeg" title="Tuý âm"><img src="/homepage/images/event-img19.jpeg"
                        alt="tuý âm"></a>
                  </figure>
                </li>
                <li>
                  <figure class="overflow-hidden">
                    <a href="/homepage/images/event-img13.jpeg" title="Ban tổ chức nè ahihi!"><img src="/homepage/images/event-img13.jpeg"
                        alt="bonjour"></a>
                  </figure>
                </li>
                <li>
                  <figure class="overflow-hidden">
                    <a href="/homepage/images/event-img14.jpg" title="Han sara dễ thương nè"><img src="/homepage/images/event-img14.jpg"
                        alt="han sara"></a>
                  </figure>
                </li>
                <li>
                  <figure class="overflow-hidden">
                    <a href="/homepage/images/event-img15.jpeg" title="Các bạn có biết đánh DJ không?"><img src="/homepage/images/event-img15.jpeg"
                        alt="dj"></a>
                  </figure>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="contact" class="fix-background fix-background-webkit" style="background-image:url('/homepage/images/footer.jpg');">
    <div class="opacity-full bg-deep-bonjour-blue"></div>
    <div class="container position-relative">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <span class="title-medium alt-font font-weight-700 text-uppercase bonjour-text-blue display-block sm-title-large"><span
              class="bonjour-text-blue">—</span> CONTACT</span>
        </div>
      </div>
      <div class="margin-seventeen no-margin-bottom no-margin-lr clearfix">
        <div class="row">
          <div class="col-md-8 col-sm-12 center-col">
            <div class="col-md-4 col-sm-4 col-xs-12 text-center xs-margin-nineteen xs-no-margin-lr xs-no-margin-top bonjour-text-blue">
              <i class="icon-map-pin icon-small display-block margin-seven no-margin-top no-margin-lr bonjour-text-blue"></i>
              <span class="alt-font text-uppercase font-weight-700">HỘI SINH VIÊN VIỆT NAM TP.HỒ CHÍ MINH</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 text-center xs-margin-nineteen xs-no-margin-lr xs-no-margin-top bonjour-text-blue">
              <i class="icon-clipboard icon-small display-block margin-seven no-margin-top no-margin-lr bonjour-text-blue"></i>
              <span class="alt-font text-uppercase font-weight-700">Email: <br>vanphong@hoisinhvien.vn</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 text-center xs-margin-nineteen xs-no-margin-lr xs-no-margin-top bonjour-text-blue">
              <i class="icon-phone icon-small display-block margin-seven no-margin-top no-margin-lr bonjour-text-blue"></i>
              <span class="alt-font text-uppercase font-weight-700">Tel:<br>(84.28)38.225.123</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <section class="border-top wow fadeIn padding-seven no-padding-lr bg-main-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 center-col text-center">
            <img alt="uit" src="/homepage/images/logo-uit.png">
          </div>
          <div class="col-md-12 col-sm-12 text-center">
            <span class="text-uppercase alt-font text-extra-small margin-two no-margin-lr no-margin-bottom display-block medium-gray-text">&COPY;
              2019 Văn phòng Đoàn - Hội trường Đại học Công nghệ thông tin.</span>
          </div>
        </div>
      </div>
    </section>
  </footer>

  <!-- scroll to top -->
  <a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
  <!-- end scroll to top -->
  <% include ./partials/scripts %>
  <% include ./questions %>
  <% include ./selectUniversity %>
  <% include ./suggest %>
  <% include ./universityMore %>
  <script>
    <% if(user) { %>
      <% if(user.score >=13) { %>
        $('#level1').modal('show');
      <% } else if (user.score >= 6) { %>
        $('#level2').modal('show');
      <% } else if (user.score > 0) { %>
        $('#level3').modal();
      <% } %>
    <% } %>
  </script>
  <script>
    var university = [];
    var temp = [];
    if(location.hash=='#_=_')location.replace(location.href.split('#')[0]);
    <% if (user) { %>
      <% if(!user.isVerify) { %>
    $(document).ready(function() {
    
      $(".select-univeristy").toggleClass("open");
      $(".page-wrapper").toggleClass("blur-it");
      if (university) {
        $.ajax({
          url: '/university',
          method: "GET",
          success: (data) => {
            console.log(data)
            university = data.data.university
            data.data.university.map(item => {
              console.log(item)
              temp.push(item.name)
            })
          }
        })
      }
      return false;
      
    });
    <% }} %>
  </script>
  <script>
    $("#tags").autocomplete({
      source: temp
    });
  </script>
</body>

</html>